@media (max-width: 73em) {
  .rows:nth-child(2) {
    transform: translateX(0);
  }

  .rows:nth-child(3) {
    transform: translateX(0);
  }

  .buyer-box:nth-child(2) {
    transform: translateY(0);
  }

  .buyer-box:nth-child(3) {
    transform: translateY(0);
  }
}

@media (max-width: 66.75em) {
  .top {
    gap: 26px;
  }
}

@media (max-width: 60.1875em) {
  body {
    padding-top: 100px;
  }

  .top {
    flex-direction: column;
    align-items: center;
  }

  .products {
    flex-basis: 7.75rem;
    max-width: 33.125rem;
    text-align: center;
  }

  .bottom {
    gap: 10px;
  }

  .buyer-box {
    padding: 20px 12px 15px 12px;
  }

  .profile {
    gap: 13px;
  }
}

@media (max-width: 38.5em) {
  .top {
    align-items: stretch;
    margin-bottom: 3.0625rem;
  }

  .rows {
    flex-direction: column;
    gap: 15px;
  }

  .bottom {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .buyer-box {
    padding: 40px 32px 35px 32px;
  }

  .profile {
    gap: 23px;
  }
}

@media (max-width: 32.5625em) {
  .heading {
    font-size: 2.5rem;
  }
}

/* ***********************
Safari gap fix
*********************** */

.no-flexbox-gap .container {
  margin-bottom: 70px;
}

.no-flexbox-gap .products {
  margin-right: 125px;
}

.no-flexbox-gap .rows:nth-child(1) {
  margin-bottom: 16px;
}

.no-flexbox-gap .rows:nth-child(2) {
  margin-bottom: 16px;
}

.no-flexbox-gap .stars {
  margin-right: 32.45px;
}

.no-flexbox-gap .buyer-box:nth-child(1) {
  margin-right: 30px;
}

.no-flexbox-gap .buyer-box:nth-child(2) {
  margin-right: 30px;
}

.no-flexbox-gap .profile-img {
  margin-right: 23px;
}

.no-flexbox-gap .name {
  margin-bottom: 4px;
}

@media (max-width: 66.75em) {
  .no-flexbox-gap .products {
    margin-right: 26px;
  }
}

@media (max-width: 60.1875em) {
  .no-flexbox-gap .buyer-box {
    margin-right: 10px;
  }

  .no-flexbox-gap .profile-img {
    margin-right: 13px;
  }
}

@media (max-width: 38.5em) {
  .no-flexbox-gap .stars {
    margin-right: 15px;
  }

  .no-flexbox-gap .buyer-box {
    margin-right: 16px;
  }

  .no-flexbox-gap .profile-img {
    margin-right: 23px;
  }
}
